*{
    padding: 0;
    margin:0;
}

#game {
    display: none;
    width: 300px;
    height: 600px;
    border:1px solid black;
    margin: auto;
    overflow: hidden;
}

#character
{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 500px;
    left: 100px;
}

#block, #block2
{
    width: 100px;
    height:100px;
    background-color:black;
    top: 0;
    position: relative;
    animation: slide 1.2s infinite linear;
}

@keyframes slide{
    0%{top:-100px;}
    100%{top:500px;}

}

#startButton{
    display: block;
    position:relative;
    margin: 40px auto;
    padding: 15px 25px;
    font-size:25px;
    cursor:pointer;
    background-color: rgb(59, 62, 186);
    color:white;
    border:black;
    border-radius:3px;
    
}

#startButton:hover {
    background-color: blue;
}
